<section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4>   </h4><h4 class="subheading">Your project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You have a project in its initial stage or a established project aiming to grow a community. You want to work <b>open</b> for everyone to contribute to it.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">  </h4><h4 class="subheading">The program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">What are participants and mentors expected to do? Check the <a href="https://docs.google.com/document/d/15XVjf53CHu4X3VYbAPOnMT8IjXyUJ5REbrBO7Kmh9Ss/edit?usp=sharing">roles description.</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">  </h4><h4 class="subheading">Schedule</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Check what the journey looks like in the program <a href="#">schedule</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">  </h4><h4 class="subheading">Community guidelines</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We want to encourage a respectful space for everyone to participate, check our <a href="https://docs.google.com/document/d/1rzhlR8tH3Tteu_p1ATWgdHaC_08dJyXmOeAh88XwyPY/edit?usp=sharing">community guidelines</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br><a href="https://docs.google.com/forms/d/1_LRx9TzrIp0X6-I5maHvETSbSupJpdfh8-OUoSUJLWA/viewform?edit_requested=true" style="color:white">APPLY</a><br></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
 </section>
