<div id="rs-about" class="rs-about style1 pt-150 pb-100 bg-light-yellow">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 pr-60 md-pr-15 md-mb-60">
        <div
          class="img-part js-tilt"
          style="
            will-change: transform;
            transform: perspective(300px) rotateX(0deg) rotateY(0deg);
          "
        >
          <img class="" src="{{include.body.img}}" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="sec-title mb-26">
          <div class="sub-title orange">{{include.body.subtitle}}</div>
          <h2 class="title">{{include.body.title}}</h2>
          <div class="desc pr-30">{{include.body.description}}</div>
        </div>
        <div class="btn-part wow fadeInUp">
          <a class="readon orange-btn" href="{{'/program/' | relative_url}}"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
