{% assign data = site.data.footer %}
<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer home9-style main-home">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-12 col-sm-12 footer-widget md-mb-50">
          <div class="footer-logo mb-30">
            <a href="/"
              ><img src={{"/assets/images/ohm-logo.svg" | relative_url }} alt=""
              /></a
            >
          </div>
          <div class="textwidget pr-60 md-pr-15">
            <p class="white-color">{{data.description}}</p>
          </div>
          <ul class="footer_social">
            {% for item in data.socialMedia %}
            <li>
              <a href="{{item.link}}" target="_blank"
                ><span><i class="fa fa-{{item.faIcon}}"></i></span
              ></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Contact section Start -->
        <div class="col-lg-6">
          <div class="contact-page-section">
            <div class="rs-quick-contact p-0">
              <div id="form-messages"></div>
              <div class="alerts mb-35">
                <div
                  class="mt-3 alert alert-danger alert-dismissible collapse"
                  role="alert"
                >
                  Please check your input
                  <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div
                  class="mt-3 alert alert-success alert-dismissible collapse"
                  role="alert"
                >
                  Email successfully sent
                  <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <form class="needs-validation" novalidate>
                <div class="row">
                  <div class="col-lg-6 mb-35 col-md-12">
                    <input
                      class="from-control"
                      type="text"
                      id="email"
                      name="email"
                      placeholder="Email*"
                      required
                    />
                  </div>
                  <div class="col-lg-6 mb-35 col-md-12">
                    <input
                      class="from-control"
                      type="text"
                      id="subject"
                      name="subject"
                      placeholder="Subject*"
                      required
                    />
                  </div>

                  <div class="col-lg-12 mb-35">
                    <textarea
                      class="from-control"
                      id="message"
                      name="message"
                      placeholder="Message*"
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <button id="contact-btn" class="btn-send" type="submit">
                    Contact Us
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright text-center">
        <p>
          Open Hardware Makers content is licensed under a <a style="color: #ffc107" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a><br> We invite you to reuse our content as long as you link to the source. 
        </p>
        <script>
          let year = parseInt(new Date().getFullYear());
          if (year > 2020) {
            document
              .getElementById("copyright-year")
              .appendChild(document.createTextNode(" - " + year));
          }
        </script>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
