<div class="rs-degree style1 modify bg-light-yellow pt-50 pb-100">
  <div class="container">
    <div class="row y-middle">
      <div class="col-lg-4 col-md-6 mb-30 wow fadeInLeft">
        <div class="sec-title">
          <div class="sub-title orange">{{include.body.subtitle}}</div>
          <h2 class="title mb-0">{{include.body.title}}</h2>
        </div>
      </div>
      {% for tile in include.body.items %}
      <div class="col-lg-4 col-md-6 mb-30 wow fadeInRight">
        <div class="degree-wrap">
          <img src="{{tile.bg}}" alt="" />
          <div class="title-part">
            <h4 class="title">{{tile.title}}</h4>
          </div>
          <div class="content-part">
            <h4 class="title">
              <a href="{{'/program/' | relative_url}}">{{tile.title}}</a>
            </h4>
            <p class="desc">{{tile.description}}</p>
            <!-- <div class="btn-part">
              <a href="#">Read More</a>
            </div> -->
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
